<% include ../partials/header %>

<div class="container" style="margin-bottom:100px;">
    <div class="row center">
        <h4><%= blog.name %></h4>
        <img class="img-responsive" src="<%= blog.imageURL %>"/>
        <p style="font-size: 1.3em;" align="left"><%= blog.content %></p>
        <p style="font-size: 1em;"><em>Submitted by: <%= blog.author.username %>, <%= moment(blog.createdAt).fromNow() %></em></p>
        <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
          <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" class="delete-form">
              <button class="waves-effect waves-light btn red">Delete Blog</button>
          </form>
          <a class="btn btn-primary waves-effect waves-light" href="/blogs/<%= blog._id %>/edit">Edit Blog</a>
        <% } %>
        <br/>
        <% if(currentUser){ %>
            <div align="center">
                <form style="width: 80%;" action="/blogs/<%= blog._id %>/comments/new" method="POST">
                    <textarea style="width: 100%; font-size: 1.3em;" id="commentArea" class="materialize-textarea" length="100" name="comment[text]" maxlength="100" minlength="2" required placeholder="Have a comment? Write your comment here."></textarea>
                    <label for="commentArea">Add your comment</label>
                    <br>
                    <button style="margin: 5px;" class="btn btn-primary waves-effect waves-light">Submit</button>
                </form>
              <br/>
            </div>
        <% } %>
        <h5>Comments</h5>
        <% if(blog.comments.length===0){ %>
            <br/>
            <p style="font-size:1.3em"><i>Be the first to write a comment!</i></p>
            <br/>
        <% } else { blog.comments.forEach(function(comment){ %>
            <div align="left">
                <br/>
                <form style="width: 100%;" id="<%= comment._id %>" onsubmit="return check( '<%= comment._id %>' );" action="#" method="POST">
                  <textarea style="width: 100%; font-size: 1.3em;" id="<%= comment._id %>text" name="comment[text]" class="materialize-textarea" length="100" maxlength="100" minlength="2" required readonly><%= comment.text %></textarea>
                  <div style="font-size: 0.8em;">
                      <strong><%= comment.author.username %></strong>
                      <span><%= moment(comment.createdAt).fromNow() %></span>
                  </div>
                  <% if(currentUser && comment.author.id.equals(currentUser._id) ){ %>
                      <button style="margin: 10px 5px 10px 0px;" id = "<%= comment._id%>cnl" class="waves-effect waves-light btn red" onclick="deleteComment('<%= blog._id %>' , '<%= comment._id %>');">Delete</button>
                      <button style="margin: 10px 5px 10px 5px;" id = "<%= comment._id%>btn" class="btn btn-primary waves-effect waves-light" onclick="editComment('<%= blog._id %>' , '<%= comment._id %>');">Edit</button>
                  <% } %>
                </form>
            </div>
        <% }); %>
        <% } %>
    </div>
</div>
<% include ../partials/footer %>
<!-- Scripts for edit and delete comments -->
<script type="text/javascript">

    function check(commentID) {
        var currentForm = document.getElementById(commentID);
        var actionFrom = currentForm.action.replace(/\s/g,'');

        if (actionFrom.endsWith("#")) {
            return false;
        }
        return true;
    }

    function deleteComment(blogID, commentID) {
        var currentForm = document.getElementById(commentID);
        var cancelBtn = document.getElementById(commentID+"cnl");
        var element = document.getElementById(commentID+"btn");
        var elementText = document.getElementById(commentID+"text");

        if (cancelBtn.textContent.replace(/\s/g,'').localeCompare('Delete') ===0 ) {
            currentForm.action = "/blogs/"+blogID+"/comments/"+commentID+"?_method=DELETE";
        } else {
            cancelBtn.textContent = "Delete";
            element.textContent="Edit";
            currentForm.action = "#";
            elementText.readOnly = true;
            var text = elementText.value;
            elementText.value = text;
        }
    }

    function editComment(blogID, commentID) {
        var currentForm = document.getElementById(commentID);
        var element = document.getElementById(commentID+"btn");
        var cancelBtn = document.getElementById(commentID+"cnl");
        var textProp = element.textContent.replace(/\s/g,'');
        var elementText = document.getElementById(commentID+"text");
        if (textProp.localeCompare('Save') ===0 ) {
            currentForm.action = "/blogs/"+blogID+"/comments/"+commentID+"?_method=PUT";
        } else {
            element.textContent="Save";
            cancelBtn.textContent="Cancel";
            currentForm.action ="#";
            elementText.readOnly = false;
            var text = elementText.value;
            elementText.value = text;
        }
    }
</script>
</body>
</html>
