<div class="container">
	<h1 align="center">Currencies</h1>
	<div class="row" style="margin-bottom:100px;">
		<a href="/dashboard" class="waves-effect waves-light btn">
				<i class="material-icons left">trending_up</i>
				Refresh Prices
		</a>
		<a class="waves-effect waves-light btn modal-trigger" href="#modal1">
			<i class="material-icons left">book</i> Learn More
		</a>
		<div align="center">
			<table id="priceTable" class="row-border" style="margin:0;">
		        <thead>
		          <tr>
		              <th>Currency</th>
		              <th>Exchange</th>
		              <th>Last Price</th>
		              <th>Highest Price</th>
		              <th>Lowest Price</th>
		              <th>Volume</th>
		          </tr>
		        </thead>
				<tbody>
		            <% prices.forEach(function(price){ %>
		                <tr>
		                    <td>  <img class="iconImage" src="<%= price.image %>"><%= price.pair %></td>
		                    <td>  <img class="iconImage" src="<%= price.exchangeImage %>"> <a href="<%= price.url %>"> <%= price.exchange %></a> </td>
		                    <td><%= price.last %></td>
		                    <td><%= price.highest %></td>
		                    <td><%= price.lowest %></td>
		                    <td><%= price.volume %></td>
		                </tr>
		            <% }); %>
		        </tbody>
	      	</table>
		</div>
	</div>
	<div id="modal1" class="modal bottom-sheet">
		<div class="modal-content">
			<h4>Learn More</h4>
			<p>The currency table displays the current market prices between cryptocurrency pairs and exchanges. The following list explains all columns in the table:</p>
			<p>- <b>Currency:</b> The cryptocurrency pair, e.g. btcusd = Bitcoin and US Dollars.</p>
			<p>- <b>Exchange:</b> The exchange containing which lists the given pair at the given prices.</p>
			<p>- <b>Last Price:</b> The last trading price of the currency on the specific exchange.</p>
			<p>- <b>Lowest price:</b> The lowest price in the current trading session of the currency on the specific exchange.</p>
			<p>- <b>Volume:</b> The total number of contracts in the current trading session of the currency on the specific exchange.</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('.modal');
		var instances = M.Modal.init(elems, 0.5);
	});
	$(document).ready(function() {
			$('#priceTable').DataTable({
					"order": [[ 0, "desc" ]],
					"columnDefs": [
						{ "width": "2em", "targets": [2, 3, 4, 5] },
						{ "width": "3em", "targets": [0, 1] },
					],
					"pageLength": 10,
					"scrollX": true,
					"scrollCollapse": true,
					"scrollY": "31.25em"
			});
	});
</script>
