<% include ../partials/header %>

<div class="container">
    <div class="row center">
        <h2>Your Profile</h2>
        <div align="left" style="margin:30px;">
            <h5>User Info</h5>
              <form action="/user/<%=uname%>/updateprof?_method=PUT" method="POST">
                <div>
                  <textarea id="textarea1" class="materialize-textarea" name="name" length="50" minlength="2" maxlength="50" required><%= name%></textarea>
                  <label for="textarea1">Your Name</label>
                </div>
                <div>
                  <textarea id="textarea2" class="materialize-textarea" name="wallet" length="300" minlength="20" maxlength="300" required><%= wallet%></textarea>
                  <label for="textarea2">Wallet Address</label>
                </div>
                <div align="center">
                  <button class="waves-effect waves-light btn-small">Update Name/Wallet</button>
                </div>
                <br>
              </form>
        </div>
    <% if(currentUser){ %>
        <br><br /><br><br />
        <div class="divider"></div>
        <div class="section">
            <div class="center-align">
                <span class="red-text text-darken-4">Danger Zone</span> <br><br />
                <form action="/user/<%=uname%>/updateusername" method="GET" class="update-form">
                    <button class="waves-effect waves-light btn-small blue-grey lighten-1">Update Username</button>
                </form> <br><br />
                <form action="/user/<%=uname%>/profile/?_method=DELETE" method="POST" class="delete-form">
                    <button class="waves-effect waves-light btn-small red">Danger: Delete Profile</button>
                </form>
            </div>
        </div>
    <% } %>
    </div>
</div>


<% include ../partials/footer %>
